<nav class="navbar navbar-dark bg-dark">
  <ul class="nav">
    <span class="nav-item h1 text-light">Bienvenue sur ChooJourney !</span>
  </ul>

  <ul class="nav justify-content-end ml-0">
      <li class="nav-item">
        <a class="nav-link text-white" target="_blank" href="https://github.com/eliob83">Elio BILISARI</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" target="_blank" href="https://github.com/Kerlan">Guillaume FELTRIN</a>
      </li>

      <li class="nav-item">
        <a class="nav-link text-white" target="_blank" href="https://github.com/Nypsyy">Mayeul MARSAUT</a>
      </li>
  </ul>
</nav>