<h2 class="text-center mb-4 text-light font-weight-bold">Chercher un itinéraire</h2>

<form action="#" autocomplete="off" (ngSubmit)="submitJourney()">
  <div class="form-row">
    <div class="form-group offset-1 col-7 text-light">
      <label for="fromJourney"><small>Mise en train <b>*</b></small></label>
      <!-- FROM input -->
      <input type="search" name="fromJourney" id="fromJourney"
             class="form-control form-control-lg"
             [class.is-invalid]="noResultFrom"
             placeholder="Toulon" [(ngModel)]="stationFrom.name"
             (keydown)="stopSearchDelay($event)"
             (keyup)="startSearchDelayed($event, stationFrom.name, SearchOption.FROM_INPUT)"
             [typeahead]="stationService.fromSearchObservable" [typeaheadScrollable]="true"
             [typeaheadOptionsInScrollableView]="maxScroll"
             (typeaheadOnSelect)="getStationId($event, 'from')"
             (typeaheadNoResults)="typeaheadNoResults($event, SearchOption.FROM_INPUT)"
             typeaheadOptionField="name" [typeaheadAsync]="true" [isAnimated]="true" [adaptivePosition]="true"
             pattern="[A-Z|a-z]"
             required/>
    </div>

    <!-- DATE input -->
    <div class="form-group col-3 text-light">
      <label for="dateTimeJourney"><small>Date du voyage <b>*</b></small></label>
      <input type="text" class="form-control form-control-lg" name="dateTimeJourney" id="dateTimeJourney"
             [placeholder]="placeholderDate"
             [(ngModel)]="dateJourney" bsDatepicker [bsValue]="today" [minDate]="today"
             [bsConfig]="{dateInputFormat: 'YYYY-MM-DD', isAnimated: true, adaptivePosition: true, containerClass: 'theme-blue'}"
             required>
    </div>
  </div>

  <!-- TO input -->
  <div class="form-row">
    <div class="form-group offset-1 col-7 text-light">
      <label for="toJourney"><small>Destination <b>*</b></small></label>
      <input type="search" name="toJourney" id="toJourney"
             class="form-control form-control-lg"
             [class.is-invalid]="noResultTo"
             placeholder="Seignosse" [(ngModel)]="stationTo.name"
             (keydown)="stopSearchDelay($event)"
             (keyup)="startSearchDelayed($event, stationTo.name, SearchOption.TO_INPUT)"
             [typeahead]="stationService.toSearchObservable" [typeaheadScrollable]="true"
             [typeaheadOptionsInScrollableView]="maxScroll"
             (typeaheadOnSelect)="getStationId($event, 'to')"
             (typeaheadNoResults)="typeaheadNoResults($event, SearchOption.TO_INPUT)"
             typeaheadOptionField="name" [typeaheadAsync]="true" [isAnimated]="true" [adaptivePosition]="true"
             ngModel pattern="[A-Za-z]*"
             required/>
    </div>

    <div class="form-group align-self-end">
      <!-- SUBMIT input -->
      <button type="submit" class="ml-2 mr-1 btn btn-primary btn-lg">
        <ng-container *ngIf="currentState!=SearchState.LOADING">Rechercher</ng-container>

        <ng-container *ngIf="currentState==SearchState.LOADING">
          <span class="mb-1 spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          <span class="ml-2">Recherche...</span>
        </ng-container>
      </button>

      <!-- Button that displays the modal -->
      <button type="button" class="ml-3 btn btn-info btn-lg" (click)="helpModal.show()">Aide</button>
    </div>
  </div>
</form>


<!-- Help modal about the journey form -->
<div class="modal fade" bsModal #helpModal="bs-modal" tabindex="-1" role="dialog" aria-labelledby="Help form"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Chercher un trajet</h4>
      </div>

      <div class="modal-body text-center">
        Entrez la ville dont vous souhaitez partir, la ville d'arrivée, et votre date de départ.
        <br>
        <i>L'heure est facultative</i>
      </div>

      <div class="modal-footer">
        <small><i>Cliquez n'importe où pour fermer</i></small>
      </div>
    </div>
  </div>
</div>
