<h1>Liste des stations</h1>

<form (ngSubmit)="searchStations()">
    <label for="stationName">
        Nom de la station : 
    </label>
    <input id="stationName" [(ngModel)]="stationName" name="stationName" placeholder="Marseille" />

    <br />
    <button type="submit">Rechercher</button>
</form>


<div class="accordion" id="accordionExample">
    <ng-container *ngIf="stations?.length; then gotStation; else noStation"></ng-container>
        
    <ng-template #noStation>
        <div class="card disabled">
            <div class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link disabled" type="button">
                        <ng-container *ngIf="notSearched; then notSearched; else noResult"></ng-container>
                        <ng-template #notSearched>Veuillez rechercher une station.</ng-template>
                        <ng-template #noResult>Aucun résultat trouvé avec "{{ stationName }}".</ng-template>
                    </button>
                </h2>
            </div>
        </div>
    </ng-template>

    <ng-template #gotStation>
        <span *ngFor="let station of stations; let i = index">
            <app-station (openEvent)="openStation($event)" [station]="station" [index]="i" [selected]="station==selectedStation"></app-station>
        </span>
    </ng-template>
</div>