<h1>Liste des stations</h1>

<form (ngSubmit)="searchStations()">
    <label for="stationName">
        Nom de la station : 
    </label>
    <input id="stationName" [(ngModel)]="stationName" name="stationName" placeholder="Marseille" />

    <br />
    <button type="submit">Rechercher</button>
</form>


<div class="accordion" id="accordionExample">
    <ng-container *ngIf="stations?.length; then gotStation; else noStation"></ng-container>
        
    <ng-template #noStation>
        <div class="card disabled">
            <div class="card-header">
                <h2 class="mb-0">
                    <button class="btn btn-link disabled" type="button">
                        <ng-container *ngIf="notSearched; then notSearched; else noResult"></ng-container>
                        <ng-template #notSearched>Veuillez rechercher une station.</ng-template>
                        <ng-template #noResult>Aucun résultat trouvé avec "{{ stationName }}".</ng-template>
                    </button>
                </h2>
            </div>
        </div>
    </ng-template>

    <ng-template #gotStation>
        <div class="card" *ngFor="let station of stations; let i = index" [attr.data-index]="i">
            <div class="card-header" [id]="'heading' + i">
                <h2 class="mb-0">
                    <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' + i" aria-expanded="false" [attr.aria-controls]="'collapse' + i">
                        {{ station.name }}
                    </button>
                </h2>
            </div>

            <div [id]="'collapse' + i" class="collapse" [attr.aria-labelledby]="'heading' + i" data-parent="#accordionExample">
                <div class="card-body">
                    <app-station [station]="station"></app-station>
                </div>
            </div>
        </div>
    </ng-template>
</div>