<!-- Header component -->
<app-navbar></app-navbar>
<br>

<div class="container-fluid">
  <div class="row">
    <!-- Station search component -->
    <app-station-list class="col"></app-station-list>

    <!-- Map component -->
    <div class="col-7">
      <app-station-map></app-station-map>
    </div>
  </div>

  <div class="row mt-4">
    <!-- Journey search component -->
    <app-journey-list class="col-5"></app-journey-list>
    <!-- Journey form component -->
    <app-journey-form class="col-7"></app-journey-form>

  </div>
</div>
