/* Front train */
#railWayFront {
  position: fixed;
  z-index: -1;
  bottom: 10px;
}

#railWayFrontImg {
  width: 300%;
}

#locomotive_front {
  position: fixed;
  z-index: -1;
  bottom: 36px;
  right: 60px;
}

#locomotive_frontImg {
  width: 80px;
}

/* Back train right */

#railWayBack1 {
  position: fixed;
  z-index: -1;
  bottom: 10px;
}

#railWayBack1Img {
  width: 200%;
}

#locomotive_back_right {
  position: fixed;
  z-index: -1;
  bottom: 36px;
  right: 60px;
}

#locomotive_back_rightImg {
  width: 80px;
}

/* Back train left */

#railWayBack2 {
  position: fixed;
  z-index: -1;
  bottom: 10px;
}

#railWayBack2Img {
  width: 100%;
}

#locomotive_back_left {
  position: fixed;
  z-index: -1;
  top: 683px;
  left: -300px;
}

#locomotive_back_leftImg {
  width: 70px;
}

